<!DOCTYPE html>
<html>
<head>
	      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Lab3</title>
	<style>
	   body{
    background-color: grey /* Цвет фона веб-страницы */
   } 
     h1 {
    color: white;
}
  label {
    color: white;
    font-size: 30px;
}
</style>
</head>
<body>
	<h1>Edit course</h1>
	<form action="/update/{{ event.id }}" method="post">
{% csrf_token %}
<br><label for="name">Назва: <input type="text" name="name" id="name" 
	value="{{ event.name }}" placeholder="{{ event.name }}" /></label></br>
<br><label  for="location">Місце: <input type="text" name="location" 
	value="{{ event.location }}" placeholder="{{ event.location }}" /></label></br>
  <br><label  for="date">Час: <input type="text" name="date" 
  value="{{ event.date }}" placeholder="{{ event.date }}" /></label></br>
  <br><label  for="img">Зображення: <input type="text" name="img" 
  value="{{ event.img }}" placeholder="{{ event.img }}" /></label></br>
  <br><label  for="description">Опис: <input type="text" name="description" 
  value="{{ event.description }}" placeholder="{{ event.description }}" /></label></br>
	<br><button class="btn btn-outline-dark" type="submit" value="Update" >Оновити</button></br>
	</form>
</body>
</html>